.icon-btn {
    background: transparent;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
    line-height: 1;
}

.icon-btn:hover {
    transform: scale(1.1) rotate(10deg);
    background-color: var(--glass-hover); 
}